fastapi==0.118.0
uvicorn[standard]==0.37.0

sqlalchemy==2.0.43
alembic==1.16.5
psycopg2-binary==2.9.10

python-dotenv==1.1.1
pydantic-settings==2.10.1

python-multipart==0.0.20

passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.5.0

email-validator==2.3.0

httpx==0.28.1

numpy==2.2.6
opencv-python==4.12.0.88
pillow==11.3.0
easyocr==1.7.2

qrcode==8.2
pyzbar==0.1.9

pytest==8.4.1